# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# osc output files
/src/*.o[0-9]*

# folders
/src/data
src/DeliciousMIL
/data1
/raw_data
/results
/misc


/.idea
/.vscode
/.ipynb_checkpoints
